html {
    color: #545353; 
    background-color: #F8981D;
} 

a {
    color:black;
}   

span {
    white-space: nowrap;
}

#alert {
    color: red;
}

.form-label {
    font-size: 18px;
}

.header-label-group {
    position: relative;
    border-collapse: separate;
}

.header-label-group span {
    border-spacing: 0;
    padding: 6px 12px;
    line-height: 1.42857143; 
    font-size: 14px;
    font-weight: normal;
    min-height: 34px;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

div {
    clear: both;
}

.offset {
    clear: both;
    margin: 20px;
}

.horizontal li {
    display: block;
    float: left;
    padding: 10px;
    position: relative;
}

.vertical {
   padding-left: 0; 
}

.vertical li {
    display: block;
    padding: 10px;
    position: relative;
    clear: both;
}

.nametag {
    padding: 5px;
    margin: 20px;
}

.nametag div {
    vertical-align: middle;
}

.nametag div div {
    text-align: center;
    padding:5px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.form-group input {
    width: auto;
    display: inline;
}

.page {
    width: 8.5in;
    margin: 1in .25in;
}

.tag {
    clear: none;

    font-size: 18px;

    width: 3.75in;
    height: 2.75in;

    padding: .125in;

    float: left;

    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.classes-tag {
    font-size: 12px;
    clear: inherit;
    vertical-align: inherit;
    text-align: inherit;
}

.tag-preview {

    font-size: 18px;

    width: 3.75in;
    height: 2.75in;

    padding: .125in;

    vertical-align: middle;
    text-align: center;
    overflow: hidden;
}

.page-break  {
    clear: left;
    display:block;
    page-break-after:always;
}
